<header>
    <div>
      <i class="fas fa-atom"></i>
      <h1>Draw.io</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/drawings">Draw</a></li>
        <li><a href="./contact">Contact</a></li>
        <% if(user) { %>
          <li><a href="./user_profile/<%= user.id %> ">Profile</a></li>
          <li><a href="./logout">Logout</a></li>
        <% } %>


      </ul>
    </nav>
  </header>