<header>
    <div>
      <i class="fas fa-atom"></i>
      <h1>Draw.io</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/drawings">Draw</a></li>
        <li><a href="/contact">Contact</a></li>
<<<<<<< HEAD
        <% if(loggedIn) { %>
          <li><a href="/user_profile/<%=user.id%>">Profile</a></li>
=======
        <% if(user) { %>
          <li><a href="/user_profile/<%= user.id %> ">Profile</a></li>
>>>>>>> 9e21de0bfda08b128ac3e6ba89cad15befbd9a2c
          <li><a href="/logout">Logout</a></li>
        <% } %>


      </ul>
    </nav>
  </header>