<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <%- include ('partials/header') %>
     
      <div class="centered">
            <div class="flip-container">
              <div class="flipper">
                <div class="front"><p>Austin Desana</p></div>
                <div class="back">
                  <div class="cardleft"></div>
                  <h1>Austin Desana</h1><hr />
                  <p>Software and Web Developer</p>
                  <p>Contact me:</p>
                  <a class="fa fa-github fa-3x" href="" target="_blank"></a>
                  <a class="fa fa-codepen fa-3x" href="" target="_blank"></a>
                  <a class="fa fa-globe fa-3x" href="#" target="_blank"></a>
                  <a class="fa fa-phone fa-3x" href="#" target="_blank"></a>
                  <a class="fa fa-envelope fa-3x" href=""></a>
                </div>
              </div>
            </div>
          </div>
 
            <div class="flip-container">
              <div class="flipper">
                <div class="front"><p>Tommy Zimmerman</p></div>
                <div class="back">
                  <div class="cardleft"></div>
                  <h1>Tommy Zimmerman</h1><hr />
                  <p>Software and Web Developer</p>
                  <p>Contact me:</p>
                  <a class="fa fa-github fa-3x" href="https://github.com/clintwestwords" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="flip-container">
              <div class="flipper">
                <div class="front"><p>Ryan Kovlaske</p></div>
                <div class="back">
                  <div class="cardleft"></div>
                  <h1>Ryan Kovlaske</h1><hr />
                  <p>Software and Web Developer</p>
                  <p>Contact me:</p>
                  <a class="fa fa-github fa-3x" href="" target="_blank"></a>
                  <a class="fa fa-codepen fa-3x" href="" target="_blank"></a>
                  <a class="fa fa-globe fa-3x" href="#" target="_blank"></a>
                  <a class="fa fa-phone fa-3x" href="#" target="_blank"></a>
                  <a class="fa fa-envelope fa-3x" href=""></a>
                </div>
              </div>
            </div>
          </div>
</body>
</html>