<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/draw2.css">
</head>
<body>
    <div class="container">
        <div class="color-selector-wrapper">
          <canvas id="hue-picker"></canvas>
          <canvas id="color-picker"></canvas>
        </div>
      </div>

      <script>
        var hue = 0;
var saturation = 0;
var lightness = 0;
var color;

//Get hue canvas
var hueCanvas = document.getElementById('hue-picker')
var ctxHue = hueCanvas.getContext('2d');
hueCanvas.width = 360;
hueCanvas.height = 20;

//Get hue canvas
var colorCanvas = document.getElementById('color-picker')
var ctxColor = colorCanvas.getContext('2d');
colorCanvas.width = 100;
colorCanvas.height = 100;

drawHue(ctxHue);
drawColor(ctxColor, hue);
function drawHue(ctx) {
  for(let hueCounter = 0; hueCounter <= 360; hueCounter++) {
    ctx.beginPath();
    ctx.rect(hueCounter, 0, 1, 20);
    ctx.fillStyle = 'hsl(' + hueCounter + ',100%,50%)';
    ctx.fill();
  }
}

function drawColor(ctx, hue) {
  for(let saturationCounter = 0; saturationCounter <= 100; saturationCounter++) {
    for(let lightnessCounter = 0; lightnessCounter <= 100; lightnessCounter++) {
      ctx.beginPath();
      ctx.rect(saturationCounter, lightnessCounter, 1, 1);
      let lightnessVal = Math.abs(lightnessCounter - 100);
      ctx.fillStyle = 'hsl(' + hue + ',' + saturationCounter + '%,' + lightnessVal + '%)';
      ctx.fill();
    }
  }
}

hueCanvas.addEventListener('click', (e) => {
  let hueCanvasPos = hueCanvas.getBoundingClientRect().x;
  let hueCanvasDocWidth = hueCanvas.getBoundingClientRect().width;
  let hueCanvasWidth = hueCanvas.width;
  let hueCanvasRatio = hueCanvasWidth / hueCanvasDocWidth;
  hue = ((e.x) - hueCanvasPos) * hueCanvasRatio;
  hue = Math.round(hue);
  drawColor(ctxColor, hue);
});

colorCanvas.addEventListener('click', (e) => {
  let colorCanvasPosX = colorCanvas.getBoundingClientRect().x;
  let colorCanvasPosY = colorCanvas.getBoundingClientRect().y;
  let colorCanvasDocWidth = colorCanvas.getBoundingClientRect().width;
  let colorCanvasWidth = colorCanvas.width;
  let colorCanvasRatio = colorCanvasWidth / colorCanvasDocWidth;
  saturation = ((e.x) - colorCanvasPosX) * colorCanvasRatio;
  lightness = ((e.y) - colorCanvasPosY) * colorCanvasRatio;
  saturation = Math.round(saturation);
  lightness = Math.round(lightness);
  lightness = Math.abs(lightness - 100);
  color = 'hsl(' + hue + ',' + saturation + '%,' + lightness + '%)';
  console.log(color);
  setColor();
})

function setColor() {
  let root = document.documentElement;
  root.style.setProperty('--color-var', color);
}
      </script>
</body>
</html>