<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Draw.io</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header>
    <div>
      <i class="fas fa-atom"></i>
      <p>Draw.io</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Draw</a></li>
        <li><a href="./contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="container-boxes">

    <% for( let i = 0; i < user.length; i++ ) { %>

      <div class="box">

        <div class="icon">
          <a href=""><i class="fas fa-fire"></i></a>
        </div>
  
        <div class="text">
          <a href="./profile/<%=user[i].id%> ">
            <h3><%= user[i].userName %> </h3>
            <p><%= user[i].email %> </p>
          </a>
        </div>
  
      </div>

    <% } %> 
    
    
  </section>

</body>

</html>