<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Draw.io</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <header>
    <div>
      <i class="fas fa-atom"></i>
      <p>Draw.io</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Draw</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="./contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="titles">

    <h1>Draw.io</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores consectetur, laboriosam rerum obcaecati.</p>

  </section>

  <section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-fire"></i></a>
      </div>

      <div class="text">
        <a href="./logIn">
          <h3>Login</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, rerum.</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-seedling"></i></a>
      </div>

      <div class="text">
        <a href="./registration">
          <h3>Register</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, culpa.</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-address-card"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>About</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, necessitatibus!</p>
        </a>
      </div>

    </div>
  </section>

</body>

</html>