<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Draw.io</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <%- include ('partials/header') %>

  <section class="titles">

    <h1>Draw.io</h1>
    <p>“In drawing, nothing is better than the first attempt.”- Pablo Picasso</p>

  </section>

  <section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-fire"></i></a>
      </div>

      <div class="text">
        <a href="./logIn">
          <h3>Login</h3>
          <p>Sign in with your username and password!</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-seedling"></i></a>
      </div>

      <div class="text">
        <a href="./registration">
          <h3>Register</h3>
          <p>Register for an account to get started!</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-address-card"></i></a>
      </div>

      <div class="text">
        <a href="./accounts">
          <h3>Accounts</h3>
          <p>View all of our members!</p>
        </a>
      </div>

    </div>
  </section>

</body>

</html>