* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;

  }
  
  body{
    margin:0;
    margin-top: 10px;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/Background3.gif) no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: black;
    font-family: "open sans";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  /* ------------------------ NAVBAR ----------------*/
  
  
  header{
    display:flex;
    justify-content: space-between;
    color: white;
    background: rgba(0,0,0,0.2)
  }
  
  header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Pacifico;
    margin: 0 2rem;
  }
  
  header div i{
    font-size: 2rem;
    margin: 1rem;
  }
  
  
  header nav{
    padding: 1rem 2rem;
  }
  
  nav ul li{
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  nav li a{
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    transition: all 250ms ease-in;
  }
  
  nav li a:hover{
    background: rgba(255,255,255,.3);
    color: black;
  }
  
  
  
  /* ------------------------ TOP SECTION ----------------*/
  
  .titles{
    color: white;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
  }
  
  .titles h1{
    font-family: Pacifico;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 black;
  
  }
  
  .titles p{
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 black;
  }
  
  /* ------------------------ BOT SECTION ----------------*/
  
  
  
  .container-boxes{
    margin: 0 auto;
    padding: 0;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 80vw;
  
     
  }
  
  .box{
    background: rgba(255,255,255,.5);
    margin: 1rem;
    padding: .5rem;
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    min-width: 350px;
    max-width: 350px;
    max-height: 180px;
    min-height: 180px;
    transition: all 250ms ease-out;
    border-radius: 10px;
    box-sizing: border-box;
    
  }
  
  .box:hover{
    background: rgba(255,255,255,.7);
    transform: translateY(-20%);
  }
  
  .box a{
    text-decoration: none;
    color: black;

  }
  
  .icon{
    font-size: 3rem;
    padding: 1rem;
  }
  
  .text h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;

  }
  
  .text p{
    margin-top: 1rem;
    line-height: 1.5rem;

    
  }
  
  .text{
<<<<<<< HEAD
    
    word-wrap: break-word;
    
=======

    padding: .5rem;
    word-wrap: break-word;

>>>>>>> 9e21de0bfda08b128ac3e6ba89cad15befbd9a2c
    
  }
  .text img{
    float: left;
    display: flex;
    
  }
  
  
  /* MEDIAQUERIES */
  
  
  @media (max-width: 1160px){
     .icon{
      font-size: 2rem;
      padding: 0.5rem;
    }
    .text h3{
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 0;
      font-size: 1rem;
    }
  
    .text p{
      margin-top: 1rem;
      line-height: 1.5rem;
      text-align: left;
      font-size: .8rem;
    }
    nav li a:hover{
    background: none;
    color: black;
    }
  }
  
  
  @media (max-width: 850px){
    body{
      height: 100%;
    }
    .container-boxes{
      flex-direction: column;
    }
    .box:hover{
      background: rgba(255,255,255,.7);
      transform: none;
    }
    .titles h1{
    font-size: 3rem;
    }
  }
  #mainContainer{
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
    background: rgba(255,255,255,.7);
  }


  .mb-5{

    display: inline-block;
    background-color: white;
    border-radius: 10px;

  }
  
  
  